<div data-if='@shipment.contextualContent.afterReadyForDispatch'>
	<div class='grid-column-wrapper'>
		<!-- Shipment ID -->
		<label>{{@form.shipmentId.label}}</label>
		<input class='form-control' value='@shipment.shipmentId' readonly='readonly' />
		<!-- Shipper ID -->
		<label>{{@form.shipperId.label}}</label>
		<input class='form-control' value='@shipment.shipperId' readonly='readonly' />
		<!-- Origin -->
		<label>{{@form.origin.label}}</label>
		<input class='form-control' value='@shipment.origin' readonly='readonly' />
		<!-- Type -->
		<label>{{@form.type.label}}</label>
		<input class='form-control' type='text' value='@shipment.shipmentType' readonly='readonly' />
		<!-- Scheduled Pickup Date/Time -->
		<label>{{@form.pickupDate.label}}</label>
		<div>
			<input class='form-control form-control-sm' readonly='readonly' type='date'
			       value='@shipment.scheduledPickupDateTime.date' />
			<input class='form-control form-control-sm' readonly='readonly' type='time'
			       value='@shipment.scheduledPickupDateTime.time' />
		</div>
		<!-- Dimension -->
		<label>{{@form.dimension.label}}</label>
		<div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@form.dimension.height.label}}</label>
				<input class='form-control' value='@shipment.dimension.dimensionHeight' readonly='readonly' />
			</div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@form.dimension.length.label}}</label>
				<input class='form-control' value='@shipment.dimension.dimensionLength' readonly='readonly' />
			</div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@form.dimension.width.label}}</label>
				<input class='form-control' value='@shipment.dimension.dimensionWidth' readonly='readonly' />
			</div>
		</div>
		<!-- Special Instructions -->
		<label>{{@form.specialInstructions.label}}</label>
		<textarea class='form-control' value='@shipment.specialInstructions' readonly='readonly'></textarea>
		<!-- Shipping/Handling Conditions -->
		<label>{{@form.shippingConditions.label}}</label>
		<textarea class='form-control' value='@shipment.shippingConditions' readonly='readonly'></textarea>
	</div>
</div>

<div data-if='@shipment.contextualContent.afterInTransit'>
	<div class='grid-column-wrapper'>
		<!-- Master-way bill number -->
		<label>{{@form.billNumber.label}}</label>
		<input class="form-control" value="@shipment.bill.billNumber" readonly='readonly' />
		<!-- HS Code -->
		<label>{{@form.hsCode.label}}</label>
		<input class="form-control" value="@shipment.bill.hsCode" readonly='readonly' />
	</div>
</div>

<div data-if='@shipment.contextualContent.afterDelivered'>
	<div class='grid-column-wrapper'>
		<!-- Recipient Name -->
		<label>{{@form.recipientName.label}}</label>
		<input class="form-control" value="@shipment.recipientName" readonly='readonly' />
		<!-- Delivery date/time -->
		<label>{{@form.deliveryDate.label}}</label>
		<div>
			<input class='form-control form-control-sm' readonly='readonly' type='date'
				   value='@shipment.deliveryDateTime.date' />
			<input class='form-control form-control-sm' readonly='readonly' type='time'
				   value='@shipment.deliveryDateTime.time' />
		</div>
	</div>
</div>

<div data-if='@shipment.contextualContent.afterReceived'>
	<div class='grid-column-wrapper'>
		<label>Shipment Actual temperature observed</label>
		<input class="form-control" value="@shipmentActualTemperature" readonly='readonly' />
		<label>{{@form.receivedDate.label}}</label>
		<div>
			<input class='form-control form-control-sm' readonly='readonly'
				   value='@shipmentReceivedDate' />
			<input class='form-control form-control-sm' readonly='readonly'
				   value='@shipmentReceivedTime' />
		</div>
	</div>
</div>