<div data-if='@shipmentModel.shipment.contextualContent.afterReadyForDispatch'>
	<br />
	<div class='grid-column-wrapper'>
		 <!-- Sponsor ID -->
		 <label>{{@orderModel.form.inputs.sponsor_id.label}}</label>
		 <input class="form-control form-control-sm" readonly="readonly" name="@orderModel.form.inputs.sponsor_id.name" placeholder="@orderModel.form.inputs.sponsor_id.placeholder" type="text" value="@shipmentModel.shipment.sponsorId" />
		<!-- Shipment ID -->
		<label>{{@shipmentModel.form.shipmentId.label}}</label>
		<input class='form-control' value='@shipmentModel.shipment.shipmentId' readonly='readonly' />
		<!-- Shipper ID -->
		<label>{{@shipmentModel.form.shipperId.label}}</label>
		<input class='form-control' value='@shipmentModel.shipment.shipperId' readonly='readonly' />
		<!-- Origin -->
		<label>{{@shipmentModel.form.origin.label}}</label>
		<input class='form-control' value='@shipmentModel.shipment.origin' readonly='readonly' />
		<!-- Request Delivery Date/Time -->
		<label>Requested Delivery Date/Time</label>
		<div>
		  <input class="form-control form-control-sm" readonly="readonly" name="@orderModel.form.inputs.delivery_date.name" type="text" value="@orderModel.order.delivery_date.date" />
		  <input class="form-control form-control-sm" readonly="readonly" name="@orderModel.form.inputs.delivery_time.name" type="text" value="@orderModel.order.delivery_date.time" />
		</div>
		<!-- Type -->
		<label>{{@shipmentModel.form.type.label}}</label>
		<input class='form-control' type='text' value='@shipmentModel.shipment.shipmentType' readonly='readonly' />
		<!-- Dimension -->
		<label>{{@shipmentModel.form.dimension.label}}</label>
		<div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@shipmentModel.form.dimension.height.label}}</label>
				<input class='form-control' value='@shipmentModel.shipment.dimension.dimensionHeight' readonly='readonly' />
			</div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@shipmentModel.form.dimension.length.label}}</label>
				<input class='form-control' value='@shipmentModel.shipment.dimension.dimensionLength' readonly='readonly' />
			</div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@shipmentModel.form.dimension.width.label}}</label>
				<input class='form-control' value='@shipmentModel.shipment.dimension.dimensionWidth' readonly='readonly' />
			</div>
		</div>
		<!-- Special Instructions -->
		<label>{{@shipmentModel.form.specialInstructions.label}}</label>
		<textarea class='form-control' value='@shipmentModel.shipment.specialInstructions' readonly='readonly'></textarea>
		<!-- Keep Between -->
		<label>{{@orderModel.form.inputs.keep_between_temperature.label}}</label>
		<div>
		  <input class="form-control form-control-sm" readonly="readonly" name="@orderModel.form.inputs.keep_between_temperature_min.name" type="text" value="@shipmentModel.shipment.temperatures.min" />
		  <label>{{@orderModel.form.inputs.keep_between_temperature.andLabel}}</label>
		  <input class="form-control form-control-sm" readonly="readonly" name="@orderModel.form.inputs.keep_between_temperature_max.name" type="text" value="@shipmentModel.shipment.temperatures.max" />
		</div>
	  
		<!-- Temperature Comments -->
		<label>{{@orderModel.form.inputs.temperature_comments.label}}</label>
		<input class="form-control form-control-sm" readonly="readonly" name="@orderModel.form.inputs.temperature_comments.name" type="text" value="@shipmentModel.shipment.temperature_comments" />
	</div>
</div>

<div data-if='@shipmentModel.shipment.contextualContent.afterDelivered'>
	<div class='grid-column-wrapper'>
		<!-- Recipient Name -->
		<label>{{@shipmentModel.form.recipientName.label}}</label>
		<input class="form-control" value="@shipmentModel.shipment.recipientName" readonly='readonly' />
		<!-- Delivery date/time -->
		<label>{{@shipmentModel.form.deliveryDate.label}}</label>
		<div>
			<input class='form-control form-control-sm' readonly='readonly' type='date'
				   value='@shipmentModel.shipment.deliveryDateTime.date' />
			<input class='form-control form-control-sm' readonly='readonly' type='time'
				   value='@shipmentModel.shipment.deliveryDateTime.time' />
		</div>
	</div>
</div>

<div data-if='@shipmentModel.shipment.contextualContent.afterReceived'>
	<div class='grid-column-wrapper'>
		<label>Shipment Actual temperature observed</label>
		<input class="form-control" value="@shipmentModel.shipmentActualTemperature" readonly='readonly' />
		<label>{{@shipmentModel.form.receivedDate.label}}</label>
		<div>
			<input class='form-control form-control-sm' readonly='readonly' type='date'
				   value='@shipmentModel.receivedDate' />
			<input class='form-control form-control-sm' readonly='readonly' type='time'
				   value='@shipmentModel.receivedTime' />
		</div>
	</div>
</div>