<webc-container controller='TableTemplateController' data-view-model='@'>
	<div class='pagination-container'>
		<!-- Search bar -->
		<div class='col-6 col-lg-3 search-bar'>
			<i class='fas fa-search'></i>
			<input class='form-control' data-view-model='@search' id='search-field' />
		</div>
		<!-- Page number -->
		<div class='col-12 col-lg-6 d-flex justify-content-lg-end justify-content-between p-0' data-if="@shipmentsListNotEmpty" >
			<div class='d-flex pagination-wrapper' slot='true'>
				<button data-tag='go-to-first-page' disabled='@pagination.previous'>
					<span aria-hidden='true'>&laquo;</span>
				</button>
				<button data-tag='go-to-previous-page' disabled='@pagination.previous'>
					<span aria-hidden='true'>&lsaquo;</span>
				</button>
				<div class='page-numbers' data-for='@pagination.slicedPages'>
					<button data-active-page='@active' data-tag='navigate-to-page'>
						{{@label}}
					</button>
				</div>
				<button data-tag='go-to-next-page' disabled='@pagination.next'>
					<span aria-hidden='true'>&rsaquo;</span>
				</button>
				<button data-tag='go-to-last-page' disabled='@pagination.next'>
					<span aria-hidden='true'>&raquo;</span>
				</button>
			</div>

			<!-- Number of results per page selector  -->
			<div class='d-flex align-items-center justify-content-center' slot='true'>
				<select class='form-control' data-for='@pagination.itemsPerPage.options'
								value='@pagination.itemsPerPage.value'>
					<option value='@'>{{@}}</option>
				</select>
				<span class='text-nowrap'>Items Per Page</span>
			</div>
		</div>
	</div>

	<div class='responsive-table full-flex-column' data-if="@shipmentsListNotEmpty">
		<table class='table table-borderless' slot='true'>
			<thead>
			<tr data-for='@headers'>
				<th>
					<button class='btn-bare gray' data-tag='sort-column' disabled='@notSortable'>
						<label>{{@label}}</label>
					</button>
				</th>
			</tr>
			</thead>
			<tbody data-for='@pagination.items'>
			<tr>
				<td><label>{{@shipmentId}}</label></td>
				<td><label>{{@shipperId}}</label></td>
				<td><label>{{@origin}}</label></td>
				<td><label>{{@type}}</label></td>
				<td><label>{{@recipientName}}</label></td>
				<td><label>{{@requestedDeliveryDateTime}}</label></td>
				<td>
					<div data-if='@status_approved'>
						<label class='status background-approved'>{{@status_value}}</label>
					</div>
					<div data-if='@status_cancelled'>
						<label class='status background-cancelled'>{{@status_value}}</label>
					</div>
					<div data-if='@status_normal'>
						<label class='status background-primary'>{{@status_value}}</label>
					</div>
				</td>
				<td><label>{{@lastModified}}</label></td>
				<td>
					<button class='btn-bare table-cell' data-tag='view-shipment'>
						<i class="fas fa-bars-staggered"></i>
					</button>
				</td>
			</tr>
			</tbody>
		</table>
		<div slot="false" class='no-data-info full-flex-column'>No shipments available.</div>
	</div>
</webc-container>