.dashboard-tabs-holder {
    padding: 1rem 1.5rem;
    display: flex;
    width: 100%;
}

.dashboard-main-holder {
    width: 100%;
    height: calc(100vh - 210px);
    padding: 20px;
}

.dashboard-filter-holder {
    width: 250px;
    height: calc(100vh - 210px - 40px);
    background: white;
    border-radius: 25px;
    display: inline-block;
    -webkit-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 20px;
    padding: 20px;
}

.dashboard-content-holder {
    width: calc(100% - 310px);
    height: calc(100vh - 210px - 40px);
    background: white;
    border-radius: 25px;
    display: inline-block;
    -webkit-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 290px;
    padding: 20px;
}

.dashboard-tab {
    background: #00345b;
    display: flex;
    padding: 0.5rem 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.dashboard-tab-active {
    background: #008898;
}

.dashboard-tab:hover {
    background: #008898;
}

.dashboard-tab,
.dashboard-tab a {
    color: white;
    text-decoration: none;
}

.dashboard-tab-notification {
    width: 20px !important;
    margin-top: 3px;
    height: 20px !important;
    border-radius: 50%;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 9px;
    padding-top: 4px;
    text-align: center;
    display: inline;
    position: absolute;
    margin-left: 10px;
}

.dashboard-tab-icon {
    color: white;
    display: inline-block;
}

.view-more-icon {
    width: 30px;
    height: 28px;
    margin-top: -2px;
    display: inline;
}

.view-more-icon path {
    fill: white;
}

.dashboard-tab-icon svg {
    height: 25px;
    width: auto;
    margin-top: -2px;
}

.dashboard-tab-icon-img path {
    fill: white;
}

.header {
    background: #00345b;
    height: 80px;
    width: 100%;
    padding: 20px;
    position: sticky;
}

.header-left {
    padding-left: 20px;
    width: 50%;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: left;

}

.header-right {
    padding-right: 20px;
    width: 50%;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: right;
}

.header-username {
    color: white;
    font-size: 13px;
    padding-top: 10px;
}

.header-role-title {
    font-size: 18px;
    color: white;
    font-weight: bold;
    display: inline;
    margin-left: 11px;
}

.new-order-main-holder {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 25px;
    display: inline-block;
    -webkit-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
}

.single-order-navigation-holder {
    width: 1000px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    left: calc((100% - 1000px) / 2);
    top: 95px;
    display: inline-block;
    text-align: left;
    font-size: 13px;
    color: #00345b;
}

.single-order-main-holder {
    width: 1000px;
    height: calc(100vh - 153px);
    margin: 0 auto;
    position: absolute;
    left: calc((100% - 1000px) / 2);
    top: 130px;
    padding: 20px;
    background: white;
    border-radius: 25px;
    display: inline-block;
    -webkit-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 48px -19px rgba(0, 0, 0, 0.75);
}

.new-order-wizard-form {
    width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

.new-order-wizard-form-element {
    width: 220.5px;
    height: 40px;
    border: 3px solid #00345c;
    border-radius: 10px;
    display: inline-block;
    background: #f7f7f7;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}

.new-order-wizard-active {
    background: #4dfdf3 !important;
}

.new-order-wizard-form-break {
    width: 26px;
    display: inline-block;
    position: relative;
    left: -4px;
}

.new-order-wizard-form-break-line {
    width: 34px;
    height: 3px;
    background: #00345c;
}

.new-order-wizard-form-step-holder {
    width: 100%;
}


.show-step {
    display: inline-block;
}

.hide-step {
    display: none;
}

.next-button {
    background: #008898;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.next-button:focus {
    outline: 0;
}

.next-button:hover {
    background: #177f8b;
}

.simple-default-button {
    background: #008898;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.simple-default-button > .link-active {
    color: white !important;
}

.simple-default-button:focus {
    outline: 0;
}

.simple-default-button:hover {
    background: #177f8b;
}

.submit-button {
    background: #008898;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.simple-default-button[disabled]:hover{
    background: #008898;
}
.simple-default-button[disabled]{
    opacity: 0.5;
}

.submit-button:focus {
    outline: 0;
}

.submit-button:hover {
    background: #177f8b;
}

.reset-button {
    background: orange;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.reset-button:focus {
    outline: 0;
}

.reset-button:hover {
    background: #177f8b;
}

.attach-documents-table {
    /*min-height:340px;*/
}

.attach-documents-table thead {
    color: #00345b;
}

.attach-documents-table-icon {
    cursor: pointer;
    width: 34px;
    height: 34px;
    margin-top: -7px;
}

.attach-documents-table-icon path {
    fill: #008898;
}

#attach-documents-holder {
    /*height: 374px;*/
}

.attach-documents-table td {
    text-align: center;
}

.attach-documents-table th {
    text-align: center;
}

#new-order-comments-holder {
    height: 580px;
}

#new-order-details-holder {
    height: 580px;
}

#new-order-confirmation-holder {
    height: 580px;
}

#new-order-confirmation-holder label {
    font-size: 12px;
    color: #00345b;
    font-weight: bold !important;
}

#new-order-comments-holder label {
    color: #00345b;
    font-weight: bold !important;
}

.new-order-created-title {
    font-size: 16px;
    text-align: center;
    color: #04444c;
    font-weight: 600;
    width: 100%;
}

.order-status-box {
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    color: white;
    width: 200px;
    font-size: 13px;
}

.order-status-blue {
    background: #4171b1;
}

.single-order-title {
    font-size: 18px;
    color: #00345b;
    margin-bottom: 7px;
}

.pending-action-text {
    color: #00345b;
    font-size: 15px;
}

.next-action-text {
    color: #00345b;
    font-size: 13px;
    margin-top: 10px;
}

.accordion-item {
    border-radius: 5px 5px 0 0;
    font-weight: 700;
    color: #00345b;
    transition: 0.4s;

}

.accordion-item-active {
    background: #ecf7f9;
}

.rotate-icon {
    transform: rotate(90deg) !important;
}

.accordion-item svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.accordion-item svg > path {
    fill: #00345b;
}

.single-order-data-holder {
    margin-top: 40px;

}

.accordion-item-holder {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: white;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-top: 0;
}

.comment-text {
    font-size: 14px;
}

.comment-date-text {
    font-size: 12px;
    color: #c5c5c5;
}

.history-orders {
    width: 100%;
    font-size: 15px;
    height: 40px;
    background: #00345b;
    padding: 5px 20px 0;
    text-align: center;
    color: white;
}

.history-connector {
    width: 3px;
    height: 22px;
    background: #00345b;
    margin: 0 auto;
}

.history-status-element {
    width: 100%;
    font-size: 15px;
    height: 64px;
    padding: 13px 20px 0;
    text-align: center;
    color: white;
    border-radius: 25px;
}

.history-normal {
    background: #4171b1;
}

.history-success {
    background: #34a86b;
}

.history-orders svg {
    width: 27px;
    height: 27px;
}

.history-orders path {
    fill: white;
}

:host(.webc-modal-dialog) {

}

/* styling */
#history-modal {
    max-width: 100vh !important;
}
