webc-app-root {
    height: 100%;
}

.next-button {
    background: #008898;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.next-button:focus {
    outline: 0;
}

.next-button:hover {
    background: #177f8b;
}

.submit-button {
    background: #008898;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.submit-button:focus {
    outline: 0;
}

.submit-button:hover {
    background: #177f8b;
}

.reset-button {
    background: orange;
    min-width: 200px;
    padding: 4px 10px;
    border: 0;
    color: white;
    border-radius: 5px;
    height: 38px;
    font-size: 15px;
}

.reset-button:focus {
    outline: 0;
}

.reset-button:hover {
    background: #177f8b;
}

.new-order-created-title {
    font-size: 16px;
    text-align: center;
    color: #04444c;
    font-weight: 600;
    width: 100%;
}

.comment-text {
    font-size: 14px;
}

.comment-date-text {
    font-size: 12px;
    color: #c5c5c5;
}

.history-orders {
    width: 100%;
    font-size: 15px;
    height: 40px;
    background: #00345b;
    padding: 5px 20px 0;
    text-align: center;
    color: white;
}

.history-connector {
    width: 3px;
    height: 22px;
    background: #00345b;
    margin: 0 auto;
}

.history-status-element {
    width: 100%;
    font-size: 15px;
    height: 64px;
    padding: 13px 20px 0;
    text-align: center;
    color: white;
    border-radius: 25px;
}

.history-orders svg {
    width: 27px;
    height: 27px;
}

.history-orders path {
    fill: white;
}

/* styling */
#history-modal {
    max-width: 100vh !important;
}
