<webc-container class="full-flex-column" controller="ShipmentsController">
	<div class="row-wrapper">
		<!-- Filters area -->
		<div class="filters-wrapper">
			<div class="filter-status">
				<span class="fa fa-icon fa-filter"></span>
				<label>Status: </label>
			</div>
			<button class="btn-filter selected" data-custom="" data-tag="filters-cleared" id="filter-">
				All Shipments
			</button>
			<button class="btn-filter" data-custom="ReadyForDispatch" data-tag="filters-changed" id="filter-ReadyForDispatch">
				Ready for Dispatch
			</button>
			<button class="btn-filter" data-custom="InTransit" data-tag="filters-changed"
			        id="filter-InTransit">
				In Transit
			</button>
			<button class="btn-filter" data-custom="Delivered" data-tag="filters-changed"
			        id="filter-Delivered">
				Delivered
			</button>
		</div>
	</div>

	<div class="row-wrapper full-flex-column">
		<div class="table-container-wrapper full-flex-column">
			<!-- Table area -->
			<psk-condition condition="@shipmentsArrayNotEmpty">
<!--				<webc-template data-view-model="@" slot="condition-true" template="table-template"></webc-template>-->
				<div slot="condition-false">No shipments available.</div>
			</psk-condition>
		</div>
	</div>
</webc-container>