<webc-container class="full-flex-column" controller="ShipmentsController">

	<div class="row-wrapper">
		<!-- Filters area -->
		<div class="filters-wrapper">
			<div class="filter-status">
				<span class="fas fa-filter"></span>
				<label>Status: </label>
			</div>
			<button class="btn-filter selected" data-custom="" data-tag="filters-cleared" id="filter-">
				All Shipments
			</button>
			<button class="btn-filter" data-custom="ReadyForDispatch" data-tag="filters-changed" id="filter-ReadyForDispatch">
				Ready for Dispatch
			</button>
			<button class="btn-filter" data-custom="InTransit" data-tag="filters-changed"
			        id="filter-InTransit">
				In Transit
			</button>
			<button class="btn-filter" data-custom="Delivered" data-tag="filters-changed"
			        id="filter-Delivered">
				Delivered
			</button>
		</div>
	</div>
	<!--Test Scan Shipment -->
	<div class="row-wrapper full-flex-column">
		<div class="table-container-wrapper full-flex-column" data-if="@shipments">
			<!-- Table area -->
			<webc-template data-view-model="@" slot="true" template="table-template"></webc-template>
			<div slot="false">No shipments available.</div>
		</div>
	</div>
</webc-container>
