.idea
cardinal
mobile/scan-app
privatesky
menu-wallet-prototype
apihub-root/messaging/
apihub-root/dsu-explorer/apps-patch/dossier-explorer-ssapp/seed
apihub-root/dsu-explorer/wallet-patch/seed
apihub-root/dsu-explorer/loader
apihub-root/csc-sponsor-wallet/wallet-patch/seed
apihub-root/csc-sponsor-wallet/loader
apihub-root/csc-courier-wallet/wallet-patch/seed
apihub-root/csc-courier-wallet/loader
apihub-root/csc-site-wallet/wallet-patch/seed
apihub-root/csc-site-wallet/loader
apihub-root/csc-cmo-wallet/wallet-patch/seed
apihub-root/csc-cmo-wallet/loader
apihub-root/internal-volume/domains
apihub-root/external-volume/domains
apihub-root/fgt-mah-wallet/apps-patch
apihub-root/csc-sponsor-wallet/apps-patch
apihub-root/csc-site-wallet/apps-patch
apihub-root/csc-courier-wallet/apps-patch
apihub-root/csc-cmo-wallet/apps-patch
apihub-root/dossier-explorer/**
apihub-root/seedsBackup
dossier-explorer-ssapp
dossier-explorer-wallet-prototype
env.json.devel
csc-sponsor-ssapp/code/constitution
csc-sponsor-ssapp/docs
csc-sponsor-ssapp/code/scripts/bundles
csc-sponsor-ssapp/seed
csc-site-ssapp/code/constitution
csc-site-ssapp/docs
csc-site-ssapp/code/scripts/bundles
csc-site-ssapp/seed
csc-cmo-ssapp/code/constitution
csc-cmo-ssapp/docs
csc-cmo-ssapp/code/scripts/bundles
csc-cmo-ssapp/seed
csc-courier-ssapp/code/constitution
csc-courier-ssapp/docs
csc-courier-ssapp/code/scripts/bundles
csc-courier-ssapp/seed

/webcardinal
documentation/bin/draw.io.path
!ddocumentation/bin/resources/drawings/*.md
documentation/drawings/*.xml
documentation/resources/drawings/
node_modules
package-lock.json
themes
tests/*/testWorkspace

testReport.html

latest-change-set.txt
builds
tmp

.prettierignore