<webc-container controller='DashboardMenuController'>
	<div class='row-wrapper'>
		<webc-link class='dashboard-tab' id='menu-dashboard' tag='dashboard'>
			<i class='dashboard-tab-icon fas fa-th-large'></i>
			Dashboard
		</webc-link>

		<webc-link class='dashboard-tab' id='menu-new-order' tag='new_order'>
			<i class='dashboard-tab-icon fas fa-plus'></i>
			New Order
		</webc-link>

		<webc-link class='dashboard-tab' id='menu-notifications' tag='notifications'>
			<i class='dashboard-tab-icon fas fa-bell'></i>
			Notifications
			<data-if data-if='@isUnreadZero'>
				<div class='dashboard-tab-notification'>{{@unread}}</div>
			</data-if>
		</webc-link>
	</div>
</webc-container>
