/* @import url("fonts/fontawesome/font-awesome.min.css"); */
/* @import url("fonts/fontawesome/font-awesome.min.css"); */
/* @import url('fonts/fontawesome5/css/all.min.css'); */
@import url('fonts/nunito/nunito.css');
@import url('bootstrap/css/bootstrap.min.css');

body {
  margin: 0;
  padding: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  background-color: gray;
}

html,
body {
  height: 100%;
}

pre {
  overflow: hidden;
  padding: 10px;
  background: #e9e9e9;
  white-space: pre-wrap;
  color: #005cbf;
}

header {
  background: #7aa354;
}

@media only screen and (max-width: 960px) {
  .cardinal-logo {
    position: absolute;
    margin: 8px;
  }
}

.btn.btn-primary,
.submit {
  background-color: var(--secondary);
  box-shadow: rgba(53, 79, 155, 0.35) 0px 15px 30px -12px;
  padding: 4px 16px;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  color: white;
  font-size: 0.95rem;
}

.btn.btn-primary:focus,
.btn.btn-primary:not(:disabled):not(.disabled):active,
.submit {
  border: none !important;
  border-style: none;
}

.btn.btn-primary:hover,
.submit:hover {
  background-color: rgba(0, 136, 152, 0.8);
}

.btn.btn-primary:active,
.submit:active {
  background-color: rgba(0, 136, 152, 0.8) !important;
}

.btn.btn-primary:disabled,
.submit:disabled {
  background-color: rgba(0, 136, 152, 0.8) !important;
}

/* ---------- pagination button -------------  */
.page-button .btn.btn-primary {
  border: none;
  background-color: white;
  color: black;
  border-radius: 0;
  margin: 0;
  font-size: 0.95rem;
}

.page-link.page-button {
  padding: 0;
}

.page-button.active .btn.btn-primary {
  background-color: var(--secondary);
  color: white;
}

.page-button .btn.btn-primary:focus,
.page-button .btn.btn-primary:not(:disabled):not(.disabled):active {
  border: none !important;
  border-style: none;
  outline: none;
  box-shadow: none;
}

.page-button .btn.btn-primary:hover {
  background-color: rgba(0, 136, 152, 0.8);
  color: white;
}

.page-button .btn.btn-primary:active {
  background-color: rgba(0, 136, 152, 0.8);
}

.page-button .btn.btn-primary:disabled {
  background-color: white !important;
  color: #c4c4c4;
}

.page-button .btn.btn-primary:disabled:hover {
  background-color: white !important;
  color: #c4c4c4;
}
/* ---------- bare button -------------  */
.btn-bare.hydrated {
  width: 100% !important;
  height: 100% !important;
}

.btn-bare .btn.btn-primary {
  border: none;
  background-color: white;
  color: black;
  border-radius: 0;
  margin: 0;
  font-weight: 600;
  font-size: 0.95rem;
  box-shadow: none;
  width: 100% !important;
  height: 100% !important;
}
.btn-bare button.btn.btn-primary {
  padding: 0;
  width: 100%;
}

.btn-bare.active .btn.btn-primary {
  background-color: rgba(247, 247, 247, 0.8);
  color: white;
}

.btn-bare .btn.btn-primary:focus,
.btn-bare .btn.btn-primary:not(:disabled):not(.disabled):active {
  border: none !important;
  border-style: none;
  outline: none;
  box-shadow: none;
}

.btn-bare .btn.btn-primary:hover {
  background-color: rgba(247, 247, 247, 0.8);
  color: black;
  cursor: pointer;
}

.btn-bare label:hover {
  cursor: pointer;
}

.btn-bare .btn.btn-primary:disabled,
.btn-bare .btn.btn-primary:disabled label {
  cursor: default;
  font-weight: 600;
  color: black;
  text-shadow: 0 0 black;
}

.btn-bare .btn.btn-primary:active {
  background-color: rgba(0, 137, 152, 0.158);
}

.btn-side-bare.hydrated {
  width: 100% !important;
  height: 100% !important;
}

.btn-side-bare {
  border: none;
  background-color: white;
  color: black;
  border-radius: 0;
  margin: 0;
  font-weight: 600;
  font-size: 1.05rem;
  box-shadow: none;
  width: 100% !important;
  height: 100% !important;
  padding: 8px 12px;
}

.btn-side-bare.active {
  background-color: rgba(247, 247, 247, 0.8);
  color: white;
}

.btn-side-bare:focus,
.btn-side-bare:not(:disabled):not(.disabled):active {
  border: none !important;
  border-style: none;
  outline: none;
  box-shadow: none;
}

.btn-side-bare:hover {
  background-color: rgba(247, 247, 247, 0.8);
  color: black;
  cursor: pointer;
}

.btn-side-bare label:hover {
  cursor: pointer;
}

.btn-side-bare:disabled,
.btn-side-bare:disabled label {
  cursor: default;
  font-weight: 600;
  color: black;
  text-shadow: 0 0 black;
}

.btn-side-bare:active {
  background-color: rgba(0, 137, 152, 0.158);
}

.btn-side-bare.selected {
  background-color: rgba(0, 136, 152, 0.8);
  color: white;
}

.background-primary {
  background-color: #f0f0f0;
}
