<webc-container controller="TableTemplateController" data-view-model="@">
    <div class="pagination-container">
        <!-- Search bar -->
        <div class="col-md-6 col-lg-3 search-bar">
            <span class="fa fa-icon fa-search"></span>
            <input class="form-control" data-view-model="@search" id="search-field"/>
        </div>
        <!-- Page number -->
        <div class="col-md-12 col-lg-6 d-flex justify-content-lg-end justify-content-md-between">
            <div class="d-flex pagination-wrapper">
                <button disabled="@pagination.previous" data-tag="go-to-first-page">
                    <span aria-hidden="true">&laquo;</span>
                </button>
                <button disabled="@pagination.previous" data-tag="go-to-previous-page">
                    <span aria-hidden="true">&lsaquo;</span>
                </button>
                <div class="page-numbers" data-for="@pagination.slicedPages">
                    <button data-active-page="@active" data-tag="navigate-to-page">
                        {{@label}}
                    </button>
                </div>
                <button disabled="@pagination.next" data-tag="go-to-next-page">
                    <span aria-hidden="true">&rsaquo;</span>
                </button>
                <button disabled="@pagination.next" data-tag="go-to-last-page">
                    <span aria-hidden="true">&raquo;</span>
                </button>
            </div>

            <!-- Number of results per page selector  -->
            <div class="d-flex align-items-center justify-content-center">
                <psk-select event-name="set-items-per-page" view-model="@pagination.itemsPerPageOptions"></psk-select>
                <span>&nbsp;Items Per Page</span>
            </div>
        </div>
    </div>

    <div class="table-header">
        <div class="table-row" data-for="@headers">
            <button class="btn-bare gray" data-tag="sort-column" disabled="@notSortable">
                <label>{{@label}}</label>
                <!--        <psk-condition condition="@asc">-->
                <!--          <div slot="condition-true">&uarr;</div>-->
                <!--        </psk-condition>-->
                <!--        <psk-condition condition="@desc">-->
                <!--          <div slot="condition-true">&darr;</div>-->
                <!--        </psk-condition>-->
                <!--        <psk-condition condition="@notSortable">-->
                <!--          <div slot="condition-false">-->
                <!--            <psk-condition condition="@asc">-->
                <!--              <div slot="condition-false">-->
                <!--                <psk-condition condition="@desc">-->
                <!--                  <div slot="condition-false" style="font-weight: 300">&udarr;</div>-->
                <!--                </psk-condition>-->
                <!--              </div>-->
                <!--            </psk-condition>-->
                <!--          </div>-->
                <!--        </psk-condition>-->
            </button>
        </div>
    </div>

    <div class="table-body" data-if="@isOrdersTable">
        <div class="table-row" data-for="@pagination.items">
            <label class="table-cell">{{@orderId}}</label>
            <label class="table-cell">{{@sponsorId}}</label>
            <label class="table-cell">{{@studyId}}</label>
            <label class="table-cell">{{@siteId}}</label>
            <label class="table-cell">{{@requestDate_value}}</label>
            <label class="table-cell">{{@deliveryDate}}</label>
            <label class="table-cell" data-status="@status_value">{{@status_value}}</label>
            <label class="table-cell">{{@lastModified_value}}</label>
            <button class="btn-bare table-cell" data-tag="view-order">&#128269;</button>
        </div>
    </div>
</webc-container>
