@import url(bootstrap/css/bootstrap.min.css);
@import url(sections/accordion.css);
@import url(sections/attachments.css);
@import url(sections/button.css);
@import url(sections/dashboard-menu.css);
@import url(sections/form.css);
@import url(sections/header.css);
@import url(sections/history.css);
@import url(sections/notifications.css);
@import url(sections/order.css);
@import url(sections/pagination.css);
@import url(sections/search.css);
@import url(sections/stepper.css);
@import url(sections/tab-navigator.css);
@import url(sections/table.css);
@import url(sections/kits.css);
@import url(sections/shipment.css);
@import url(sections/main.css);
@import url(sections/barcode-scanner.css);
@import url(sections/progressbar.css);
@import url(fontawesome/all.min.css);
@import url(components/share-did.css);