<webc-container class="full-flex-column" controller="StudiesKitsController">
	<div class="row-wrapper full-flex-column">
		<div class="table-container-wrapper full-flex-column">
			<webc-template template="tab-navigator"></webc-template>

			<div class="full-flex-column" data-if='@kitsListIsReady'>
				<div class="full-flex-column" slot="true" >
					<webc-template data-view-model="@" template="kits/manage-kits"></webc-template>
				</div>
				<webc-spinner slot='false'></webc-spinner>
			</div>
		</div>
	</div>
</webc-container>