<div class="grid-column-wrapper">

    <!-- Patient ID -->
    <label>{{@form.patientId.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.patientId.name" placeholder="@form.patientId.placeholder" type="text" value="@kit.patientId" />

    <!-- Dose Type -->
    <label>{{@form.doseType.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.doseType.name" placeholder="@form.doseType.placeholder" type="text" value="@kit.doseType" />

    <!-- Dose UoM -->
    <label>{{@form.doseUom.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.doseUom.name" placeholder="@form.doseUom.placeholder" type="text" value="@kit.doseUom" />

    <!-- Dose Volume -->
    <label>{{@form.doseVolume.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.doseVolume.name" placeholder="@form.doseVolume.placeholder" type="text" value="@kit.doseVolume" />

    <!-- Visit ID -->
    <label>{{@form.visitId.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.visitId.name" placeholder="@form.visitId.placeholder" type="text" value="@kit.visitId" />

    <!-- Dispensing Party ID -->
    <label>{{@form.dispensingPartyId.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.dispensingPartyId.name" placeholder="@form.dispensingPartyId.placeholder" type="text" value="@kit.dispensingPartyId" />

    <!-- Kit Storage Condition-->
    <label>{{@form.kitStorageCondition.label}}</label>
    <input class="form-control form-control-sm" readonly name="@form.kitStorageCondition.name" placeholder="@form.kitStorageCondition.placeholder" type="text" value="@kit.kitStorageCondition" />

</div>
