<webc-container controller='TableTemplateController' data-view-model='@'>
  <div class='pagination-container'>
    <!-- Search bar -->
    <div class='col-6 col-lg-3 search-bar'>
      <i class='fas fa-search'></i>
      <input class='form-control' data-view-model='@search' id='search-field' />
    </div>
    <!-- Page number -->
    <div class='col-12 col-lg-6 d-flex justify-content-lg-end justify-content-between p-0' data-if="@kitsListNotEmpty">
      <div class='d-flex pagination-wrapper' slot='true'>
        <button data-tag='go-to-first-page' disabled='@pagination.previous'>
          <span aria-hidden='true'>&laquo;</span>
        </button>
        <button data-tag='go-to-previous-page' disabled='@pagination.previous'>
          <span aria-hidden='true'>&lsaquo;</span>
        </button>
        <div class='page-numbers' data-for='@pagination.slicedPages'>
          <button data-active-page='@active' data-tag='navigate-to-page'>
            {{@label}}
          </button>
        </div>
        <button data-tag='go-to-next-page' disabled='@pagination.next'>
          <span aria-hidden='true'>&rsaquo;</span>
        </button>
        <button data-tag='go-to-last-page' disabled='@pagination.next'>
          <span aria-hidden='true'>&raquo;</span>
        </button>
      </div>

      <!-- Number of results per page selector  -->
      <div class='d-flex align-items-center justify-content-center' slot='true'>
        <select class='form-control' data-for='@pagination.itemsPerPage.options'
                value='@pagination.itemsPerPage.value'>
          <option value='@'>{{@}}</option>
        </select>
        <span class='text-nowrap'>Items Per Page</span>
      </div>
    </div>
  </div>

  <div class='responsive-table full-flex-column' data-if="@kitsListNotEmpty">
    <table class='table table-borderless' slot='true'>
      <thead>
      <tr data-for='@headers'>
        <th>
          <button class='btn-bare gray' data-tag='sort-column' disabled='@notSortable'>
            <label>{{@label}}</label>
          </button>
        </th>
      </tr>
      </thead>
      <tbody data-for='@pagination.items'>
      <tr>
        <td><label>{{@studyId}}</label></td>
        <td><label>{{@orderId}}</label></td>
        <td><label>{{@kitsNumber}}</label></td>

        <td>
          <webc-template template='kits/progress-status' data-view-model='@kitsAvailable'></webc-template>
        </td>
        <td>
          <webc-template template='kits/progress-status' data-view-model='@kitsAssigned'></webc-template>
        </td>
        <td>
          <webc-template template='kits/progress-status' data-view-model='@kitsDispensed'></webc-template>
        </td>

        <td><label>{{@lastModified}}</label></td>
        <td data-if='@synchronized'>
          <button class='btn-bare table-cell' data-tag='view-kit' slot='true' title='View Kits'>
            <i class="fas fa-bars-staggered"></i>
          </button>
          <button class='warning btn-bare table-cell mr-2 ml-2' data-tag='synchronize-study-kits' slot='false' title='Synchronize Kits'>
            <i class="fas fa-sync"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div slot="false" class='no-data-info full-flex-column'>No kits available.</div>
  </div>
</webc-container>