<div class="row" style="padding: 20px">
  <div class="col-6">
    <!-- Sponsor ID -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.sponsor_id.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.sponsor_id.name" placeholder="@form.inputs.sponsor_id.placeholder" value="@order.sponsorId" disabled="@form.inputs.sponsor_id.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Request Delivery Date/Time -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">Request Delivery Date/Time</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <div class="row">
          <div class="col-7">
            <!-- Input -->
            <input class="form-control form-control-sm" type="text" value="@order.delivery_date.date" name="@form.inputs.delivery_date.name" disabled="@form.inputs.delivery_date.disabled" />
          </div>
          <div class="col-5">
            <!-- Input -->
            <input class="form-control form-control-sm" type="text" value="@order.delivery_date.time" name="@form.inputs.delivery_time.name" disabled="@form.inputs.delivery_time.disabled" />
          </div>
        </div>
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Target CMO ID -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.target_cmo_id.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.target_cmo_id.name" placeholder="@form.inputs.target_cmo_id.placeholder" value="@order.targetCmoId" disabled="@form.inputs.target_cmo_id.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Study ID -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.study_id.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.study_id.name" value="@order.studyId" disabled="@form.inputs.study_id.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Order ID -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.order_id.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.order_id.name" value="@order.orderId" disabled="@form.inputs.order_id.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Kit ID List -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.kit_id_list.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.kit_id_list.name" value="@order.kitsFilename" disabled="@form.inputs.kit_id_list.disabled" />
      </div>
    </div>
  </div>

  <div class="col-6">
    <!-- Site ID -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.site_id.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.site_id.name" value="@order.siteId" disabled="@form.inputs.site_id.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Site Region ID -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.site_region_id.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.site_region_id.name" value="@order.siteRegionId" disabled="@form.inputs.site_region_id.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Site Country -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.site_country.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.site_country.name" value="@order.siteCountry" disabled="@form.inputs.site_country.disabled" />
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <div class="row" style="margin-top: -15px; margin-bottom: -15px">
      <div class="col-6">
        <!-- Keep Between -->
        <div class="form-group">
          <!-- Label -->
          <label for="@form.inputs.keep_between_temperature_min.name">{{@form.inputs.keep_between_temperature_min.label}}</label>
          <!--Input -->
          <input type="text" class="form-control form-control-sm" name="@form.inputs.keep_between_temperature.min.name" value="@order.temperatures.min" disabled="@form.inputs.keep_between_temperature_min.disabled" />
        </div>
      </div>
      <div class="col-6">
        <!-- Keep Between -->
        <div class="form-group">
          <!-- Label -->
          <label for="@form.inputs.keep_between_temperature_max.name">{{@form.inputs.keep_between_temperature_max.label}}</label>
          <!--Input -->
          <input type="text" class="form-control form-control-sm" name="@form.inputs.keep_between_temperature.max.name" value="@order.temperatures.max" disabled="@form.inputs.keep_between_temperature_max.disabled" />
        </div>
      </div>
    </div>

    <!-- Break -->
    <div class="row">
      <div class="col-12"><br /></div>
    </div>

    <!-- Site Country -->
    <div class="row">
      <!--Label -->
      <div class="col-5">
        <label class="my-1 mr-2">{{@form.inputs.temperature_comments.label}}</label>
      </div>
      <!-- Input -->
      <div class="col-7">
        <input class="form-control form-control-sm" type="text" name="@form.inputs.temperature_comments.name" value="@order.temperature_comments" disabled="@form.inputs.temperature_comments.disabled" />
      </div>
    </div>
  </div>
</div>
