body {
    background: #00345b;
}

.logo-holder {
    text-align: center;
    margin: 60px 0;
}

.logo-holder img {
    width: 200px;
}

html {
    background-color: #00345b;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

#demiurge {
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 0 1rem;
}

#demiurge a {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    text-decoration: none;
    color: #fff;
    background-color: #008898;
    background-image: linear-gradient(125deg, #008898, #335f80);
    padding: 0.5rem;
    border-radius: 4%;
}


.center-aligned-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2.5rem 1rem;
}

.center-aligned-controls a {
    padding: 2rem 5rem 0.5rem;
    width: 150px;
    height: 130px;
    row-gap: 1rem;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-aligned-controls a i {
    color: #000000;
}

.left-side {
    display: flex;
    align-items: center;
    filter: invert(1);
}

.center-aligned-controls p {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.description-text {
    text-align: center;
    margin: 60px 0;
    color: #b0e8ff;
}

.scale-up:hover {
    transform: scale(1.2);
    box-shadow: 0 0 24px -2px rgba(0, 0, 0, 0.75);
}

.role-button {
    background-color: #008898;
    background-image: linear-gradient(125deg, #008898, #335f80);
}

.role-button:hover {
    background-color: #008898;
    background-image: linear-gradient(125deg, #008898, #335f80);
}