<div class="grid-column-wrapper">

    <!-- Patient ID -->
    <label>{{@form.patientId.label}}</label>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.patientId.name" placeholder="@form.patientId.placeholder" type="text" value="@kit.patientId" />

    <!-- Dose Type -->
    <label>{{@form.doseType.label}}</label>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.doseType.name" placeholder="@form.doseType.placeholder" type="text" value="@kit.doseType" />

    <!-- Dose Volume -->
    <label>{{@form.doseVolume.label}}</label>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.doseVolume.name" placeholder="@form.doseVolume.placeholder" type="text" value="@kit.doseVolume" />

    <!-- Visit ID -->
    <label>{{@form.visitId.label}}</label>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.visitId.name" placeholder="@form.visitId.placeholder" type="text" value="@kit.visitId" />

    <!-- Dates -->
    <label>{{@form.visit_date.label}}</label>
    <div>
        <input class="form-control form-control-sm" readonly="readonly" type="text" value="@form.visit_date.value" />
        <input class="form-control form-control-sm" readonly="readonly" type="text" value="@form.visit_time.value" />
    </div>

    <!-- Dispensing Party ID -->
    <label>{{@form.dispensingPartyId.label}}</label>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.dispensingPartyId.name" placeholder="@form.dispensingPartyId.placeholder" type="text" value="@kit.dispensingPartyId" />



</div>

