webc-app-root {
    height: 100%;
}
webc-spinner{
    background: rgba(64, 149, 131, 0.15);
}

#action-required-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2.5rem 3rem;
    row-gap: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
}

#action-required-container > * {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}

#action-required-container h2,
#action-required-container label {
    color: #4171b1;
}

.grid-column-wrapper {
    display: grid;
    row-gap: 0.5rem;
    column-gap: 1.5rem;
    grid-template-columns: 3fr 5fr;
    width: 100%;
    padding: 1rem;
    color: #00345b;
}

.grid-column-wrapper > :nth-child(2n+1) {
    font-weight: bold;
    text-align: right;
    font-size: 1rem;
}

.grid-column-wrapper > :nth-child(2n) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 1rem;
}

.row-wrapper {
    padding: 0.5rem 1.5rem;
    display: flex;
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}


.full-flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-section {
    display: grid;
    height: 100%;
    padding-bottom: 1rem;
}

.content-section > div,
.button-wrapper > div {
    display: none;
}

.content-section > div[data-if],
.button-wrapper > div[data-if] {
    display: block;
}

.header-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 10% 2rem;
}
.header-section-full-width{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
}

label.status {
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 0.15rem 0;
    min-width: 12rem;
    text-align: center;
}

.background-primary {
    background: #4171b1;
}

.background-approved {
    background: #34a86b;
}

.background-in-quarantine{
    background: #ef6c00;
}

.background-pending-destruction,
.background-relabeling-request{
    background: #ef6c00;
}

.background-cancelled {
    background: #DB0010;
}

.background-orange{
    background:#ef6c00;
}
.nav-back a {
    text-decoration: none !important;
}

.comments-container {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    row-gap: 2rem;
}

.comments-container.wrap-box{
    border: 1px solid #DDD;
    border-radius: 5px;
}

.comments-container .comment{
    background: #F2F2F2;
    border-radius: 5px;
    color: #495057;
    padding: 10px 10px;
}

.comments-wrapper {
    background: #e9ecef;
    border: 1px solid #ced4da;
    padding: 0.25rem 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.comments-container .comments-wrapper {
    background: transparent;
    border: none;
}

.comments-container label {
    color: #00345b;
}

.identity {
    color: #888888;
}

@media (max-width: 991px) {
    .button-wrapper button {
        min-width: 8rem;
    }
}

@media (max-width: 767px) {
    .row-wrapper {
        padding: 0.5rem;
    }

    .order-section {
        padding: 0.5rem 0.5rem 1.5rem;
    }
}
