<div class="grid-column-wrapper">
  <!-- Sponsor ID -->
  <label>{{@form.inputs.sponsor_id.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.sponsor_id.name" placeholder="@form.inputs.sponsor_id.placeholder" type="text" value="@order.sponsorId" />

  <!-- Request Delivery Date/Time -->
  <label>Requested Delivery Date/Time</label>
  <div>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.delivery_date.name" type="text" value="@order.delivery_date.date" />
    <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.delivery_time.name" type="text" value="@order.delivery_date.time" />
  </div>

  <!-- Target CMO ID -->
  <label>{{@form.inputs.target_cmo_id.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.target_cmo_id.name" placeholder="@form.inputs.target_cmo_id.placeholder" type="text" value="@order.targetCmoId" />

  <!-- Study ID -->
  <label>{{@form.inputs.study_id.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.study_id.name" type="text" value="@order.studyId" />

  <!-- Order ID -->
  <label>{{@form.inputs.order_id.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.order_id.name" type="text" value="@order.orderId" />

  <!-- Site ID -->
  <label>{{@form.inputs.site_id.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.site_id.name" type="text" value="@order.siteId" />

  <!-- Site Region ID -->
  <label>{{@form.inputs.site_region_id.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.site_region_id.name" type="text" value="@order.siteRegionId" />

  <!-- Site Country -->
  <label>{{@form.inputs.site_country.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.site_country.name" type="text" value="@order.siteCountry" />

  <!-- Keep Between -->
  <label>{{@form.inputs.keep_between_temperature.label}}</label>
  <div>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.keep_between_temperature_min.name" type="text" value="@order.temperatures.min" />
    <label>{{@form.inputs.keep_between_temperature.andLabel}}</label>
    <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.keep_between_temperature_max.name" type="text" value="@order.temperatures.max" />
  </div>

  <!-- Temperature Comments -->
  <label>{{@form.inputs.temperature_comments.label}}</label>
  <input class="form-control form-control-sm" readonly="readonly" name="@form.inputs.temperature_comments.name" type="text" value="@order.temperature_comments" />
</div>
