<webc-container class='full-flex-column' controller='ShipmentsController'>
	<div class='row-wrapper'>
		<!-- Filters area -->
		<div class='filters-wrapper'>
			<div class='filter-status'>
				<span class='fas fa-filter'></span>
				<label>Status: </label>
			</div>
			<button class='btn-filter selected' data-custom='AllShipments' data-tag='filters-cleared' id='filter-'>
				All Shipments
			</button>
			<button class='btn-filter' data-custom='InPreparation' data-tag='filters-changed' id='filter-InPreparation'>
				In Preparation
			</button>
			<button class='btn-filter' data-custom='ReadyForDispatch' data-tag='filters-changed'
			        id='filter-ReadyForDispatch'>
				Ready for Dispatch
			</button>
			<button class='btn-filter' data-custom='InTransit' data-tag='filters-changed'
			        id='filter-InTransit'>
				In Transit
			</button>
			<button class='btn-filter' data-custom='Delivered' data-tag='filters-changed'
			        id='filter-Delivered'>
				Delivered
			</button>
			<button class='btn-filter' data-custom='Received' data-tag='filters-changed'
			        id='filter-Received'>
				Received
			</button>
			<button class='btn-filter' data-custom='Cancelled' data-tag='filters-changed'
			        id='filter-Cancelled'>
				Cancelled
			</button>
		</div>
	</div>

	<div class='row-wrapper full-flex-column'>
		<div class='table-container-wrapper full-flex-column'>
			<!-- Tab navigator area -->
			<webc-template template='tab-navigator'></webc-template>

			<!-- Table area -->
			<div class="full-flex-column" data-if='@shipmentsListIsReady'>
				<div class="full-flex-column" slot="true" data-if="@shipmentsListNotEmpty">
					<webc-template data-view-model="@" slot="true" template="shipment/table-template-shipment"></webc-template>
					<div slot="false" class='no-data-info full-flex-column'>No shipments available.</div>
				</div>
				<webc-spinner slot='false'></webc-spinner>
			</div>
		</div>
	</div>
</webc-container>