<webc-container class='full-flex-column' controller='ShipmentsController'>
	<div class='row-wrapper'>
		<!-- Filters area -->
		<webc-template template='status-filter' data-view-model='@'></webc-template>
	</div>

	<div class='row-wrapper full-flex-column'>
		<div class='table-container-wrapper full-flex-column'>
			<!-- Tab navigator area -->
			<webc-template template='tab-navigator'></webc-template>

			<!-- Table area -->
			<div class="full-flex-column" data-if='@shipmentsListIsReady'>
				<div class="full-flex-column" slot="true">
					<webc-template data-view-model="@" template="shipment/table-template-shipment"></webc-template>
				</div>
				<webc-spinner slot='false'></webc-spinner>
			</div>
		</div>
	</div>
</webc-container>
