<div data-if='@shipment.contextualContent.afterReadyForDispatch'>
	<br />
	<div class='grid-column-wrapper'>
		<!-- Shipper ID -->
		<label>{{@form.shipperId.label}}</label>
		<input class='form-control' value='@shipment.shipperId' readonly='readonly' />
		<!-- Origin -->
		<label>{{@form.origin.label}}</label>
		<input class='form-control' value='@shipment.origin' readonly='readonly' />
		<!-- Type -->
		<label>{{@form.type.label}}</label>
		<input class='form-control' type='text' value='@shipment.type' readonly='readonly' />
		<!-- Scheduled Pickup Date/Time -->
		<label>{{@form.pickupDate.label}}</label>
		<div>
			<input class='form-control form-control-sm' readonly='readonly' type='date'
			       value='@shipment.scheduledPickupDate.date' />
			<input class='form-control form-control-sm' readonly='readonly' type='time'
			       value='@shipment.scheduledPickupDate.time' />
		</div>
		<!-- Dimension -->
		<label>{{@form.dimension.label}}</label>
		<div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@form.dimension.height.label}}</label>
				<input class='form-control' value='@shipment.dimension.height' readonly='readonly' />
			</div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@form.dimension.length.label}}</label>
				<input class='form-control' value='@shipment.dimension.length' readonly='readonly' />
			</div>
			<div class='d-flex justify-content-center align-items-center'>
				<label class='pr-2 m-0'>{{@form.dimension.width.label}}</label>
				<input class='form-control' value='@shipment.dimension.width' readonly='readonly' />
			</div>
		</div>
		<!-- Special Instructions -->
		<label>{{@form.specialInstructions.label}}</label>
		<textarea class='form-control' value='@shipment.specialInstructions' readonly='readonly'></textarea>
		<!-- Shipping/Handling Conditions -->
		<label>{{@form.shippingConditions.label}}</label>
		<textarea class='form-control' value='@shipment.shippingConditions' readonly='readonly'></textarea>
	</div>
</div>