<div class="grid-column-wrapper">
    <!-- Sponsor ID -->
    <label>Sponsor ID:</label>
    <input class="form-control form-control-sm"  disabled type="text" value="@sponsorId" />
  
    <!-- Study ID -->
    <label>Study ID:</label>
    <input class="form-control form-control-sm" disabled type="text" value="@studyId" />

    <!-- Kit ID List -->
    <label>Kit ID List (.csv):</label>

    <div class='file-name-downloader'>
      <div class='input-group'>
        <input class='form-control form-control-sm' readonly type='text'
               value="@kitsFilename" />
        <div class='input-group-append'>
          <button class='btn btn-outline-secondary' type='button' data-tag="download-kits-file" data-custom="@kitsFilename">
            <i class='fa fa-download'></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Quantity -->
    <label>Kits Quantity:</label>
    <div>
        <input class="form-control form-control-sm" disabled type="text" value="@scanNum" />
    </div>

    <div style="height: 60%; overflow-y: auto; padding: 10% 150%; width: max-content; text-align: center;">
        <table class="table"> 
          <!-- , style="height:25%; overflow-y:scroll; text-align:center"> -->
            <tr>
                <thead>
                    <th scope="col">
                    <label>Kit ID</label>
                    </th>
                </thead>
            </tr>

          <tbody data-for="@scannedKitIds">
            <tr>
                <td>{{ @ }}</td>
            </tr>
            </tbody>
        </table>
    </div>

  </div>
  