.table-cell {
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
}

label.table-cell {
    margin: 0;
}

.coloredBackground {
    background-color: #00345b !important;
    color: white;
    width: 100%;
    height: 100%;
}

/* ---------- bare button -------------  */
.btn-bare {
    border: none;
    background-color: white;
    color: black;
    border-radius: 0;
    margin: 0;
    font-weight: 600;
    font-size: 0.95rem;
    box-shadow: none;
    text-align: left;
    vertical-align: bottom;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    cursor: default !important;
}

.btn-bare.active {
    background-color: rgba(247, 247, 247, 0.8);
    color: white;
}

.btn-bare:focus,
.btn-bare:not(:disabled):not(.disabled):active {
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-bare label:hover {
    cursor: pointer;
}

.btn-bare:disabled,
.btn-bare:disabled label {
    cursor: default;
    font-weight: 600;
    color: black;
    text-shadow: 0 0 black;
}

.table-header {
    border-bottom: 1px solid #000000;
}

.table-body {
    row-gap: 0.25rem;
}

.table-row {
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 0.5rem;
    margin: 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.25rem 0.75rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
    font-size: 0.875rem;
}

.search-bar svg {
    height: auto;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.75);
}

.search-bar input.form-control {
    border: none;
    padding: 0 0.5rem;
    height: auto;
}

.search-bar input.form-control:active,
.search-bar input.form-control:focus,
.search-bar input.form-control:active:focus {
    box-shadow: none;
}