<webc-container controller="KitSummaryController" data-view-model="@kitsData">
  <div data-if="@kitsLoaded">
    <div class="grid-column-wrapper">


      <!-- Study Id -->
      <label>Study Id:</label>
      <div>
        <input class="form-control form-control-sm" readonly type="text" value="@studyData.studyId" />
      </div>

      <!-- Study Duration -->
      <label>Study Duration From/To:</label>
      <div>
        <input class="form-control form-control-sm" readonly type="text" value="@studyData.studyDurationFrom" />
        <input class="form-control form-control-sm" readonly type="text" value="@studyData.studyDurationTo" />
      </div>


      <!-- Kit ID List -->
      <label>Kit ID List (.csv):</label>

      <div class='file-name-downloader'>
        <div class='input-group'>
          <input class='form-control form-control-sm' readonly type='text'
                 value="@file.name" />
          <div class='input-group-append'>
            <button class='btn btn-outline-secondary' type='button' data-custom="@file.name" data-tag="download-kits-file">
              <i class='fa fa-download'></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Quantity -->
      <label>Kits Quantity:</label>
      <div>
        <input class="form-control form-control-sm" readonly type="text" value="@kitIds.length" />
      </div>
    </div>

    <div class="responsive-table kits-table-wrapper">
      <table class="table table-borderless kits-table">
        <thead>
          <tr>
            <th>Kit number</th>
            <th>Kit ID</th>
          </tr>
        </thead>
        <tbody data-for="@kitIds">
          <tr>
            <td>{{@kitNumber}}</td>
            <td>{{@kitId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</webc-container>
