.tabs {
  display: grid;
}

.tabs .tab-navigator {
  overflow-x: auto;
  font-size: 18px;
}

.tabs .tab-container {
  position: relative;
}

.tabs .tab-navigator .btn {
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 8px 0px;
}

.tabs .tab-navigator {
  display: grid;
  grid-auto-flow: column;
}

.tabs .tab-navigator .btn {
  color: white;
  width: 100%;
}

.tabs {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.tabs .tab-navigator,
.tabs .tab-navigator .btn {
  background-color: #00345b;
}

.tabs .tab-navigator button.active.btn {
  background-color: #008898;
  border-style: none;
}

.tabs .tab-container {
  padding: 1rem;
}
